$site-color-primary: #efefef;
$header-color-primary: #47a161;
$footer-color-primary: #47a161;
$frame-color: #fffffd;

body {
	background-color: $site-color-primary;
	span {
		display: block;
	}
}

/*-------------------HEADER----------------------------*/
.header {
	background-color: $header-color-primary;
}

.navbar-collapse {
	border: 1px solid white;
	background-color: lighten($header-color-primary, 5%);
	margin-bottom: 4px;

}

.navbar-default {
	background-color: $header-color-primary;
}

.borderLine li {
	border-right: 1px solid white;
}
.navbar-default .navbar-nav > li > a
{
	color: white;
}

.iconPadding li {
	padding-left: -2px; 
	
}

/*-------------------END HEADER----------------------------*/


/*-------------------CONTENT ----------------------------*/

.frame {
border: 1px solid $frame-color;
background-color: white;
outline: 5px solid white;
}

.form-group {
	width: 80%;
	font-size: 12px;
	label {
		font-weight: normal;
	}
}


.companyL1 {
	height: 500px; 
	overflow: hidden;
	background: white;

}
.companyR1 {

}

.companyL2 {
	overflow: hidden;
	background: white;
	margin-top: 2em;
	border-right: 15px solid $site-color-primary;
}
.companyR2 {
	overflow: hidden;
	background: white;
	margin-top: 2em;
}

.companyR2 ul {
	background: white;
	display: inline;
}

.companyR2 h3 {
	border-bottom: 2px solid $site-color-primary;
}

.companyR2 ul li {
	width: 33%;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	float: left;
}

/*-------------------END CONTENT----------------------------*/

/*-------------------FOOTER----------------------------*/

.footer {
	background-color: $footer-color-primary;
	margin-top: 20px;
}

#map_canvas {
	width: 85%;
	height: 300px;
	background-color: #CCC;
}

/*.borderTest {
	border: 5px solid white;
}
.okvir {
	width: 95%;
	margin: 10px;
	border: 3px solid white;
}*/

.footerMenuline h3 {
	width: 80%;
	border-bottom: 1px solid white;
}

/*-------------------FOOTER----------------------------*/